
.datepicker {
  position: fixed;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
}

.datepicker-header {
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid #e3e8ee;
  cursor: pointer;
}

.picker-prev {
  float: left;
  padding-left: 10px;
  color: #c3cbd6
}

.picker-prev:hover {
  color: #39f;
}

.picker-year-label:hover {
  color: #39f;
}

.picker-month-label:hover {
  color: #39f;
}

.picker-next {
  float: right;
  padding-right: 10px;
  color: #c3cbd6;
}

.picker-next:hover {
  color: #39f;
}

.datepicker-body {
  padding: 10px;

}

.day-picker {
  width: 168px;
}

.week-cell span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #c3cbd6;
  display: inline-block;
}

.day-cell span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.day-cell span.selected {
  background-color: #39f;
  color: white;
  border-radius: 4px;
}

.day-cell span:hover {
  background-color: #e1f0fe;
}

.day-cell span.prev-month {
  color: #c3cbd6;
}

.day-cell span.next-month {
  color: #c3cbd6;
}

.month-picker {
  width: 168px;
}

.month-picker span {
  width: 56px;
  height: 36px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  line-height: 36px;
}

.year-picker {
  width: 168px;
}

.month-picker span.selected {
  color: white;
  background-color: #39f;
  border-radius: 4px;
}

.year-picker span {
  width: 56px;
  height: 36px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  line-height: 36px;
}

.year-picker span.selected {
  color: white;
  background-color: #39f;
  border-radius: 4px;
}